@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@keyframes flash-light {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(59, 130, 246, 0.2);
    }

    100% {
        background-color: transparent;
    }
}

@keyframes flash-dark {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(59, 130, 246, 0.3);
    }

    100% {
        background-color: transparent;
    }
}

.flash-card {
    animation: flash-light 0.6s ease-in-out 3;
}